// @font-face {
//     font-family: 'Manrope';
//     src: url('../fonts/Manrope-Regular.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('../fonts/Manrope-Light.woff2') format('woff2');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('../fonts/Manrope-Bold.woff2') format('woff2');
//     font-weight: 700;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Manrope';
//     src: url('../fonts/Manrope-ExtraBold.woff2') format('woff2');
//     font-weight: 800;
//     font-style: normal;
// }

@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:700);

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-family);
	line-height: var(--line-hight);
	font-weight: 400;

}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}