.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #131313;
	&__row {
		font-size: 14px;
		line-height: 1;
		color: rgba(255, 255, 255, 0.5);

		display: flex;
		justify-content: space-between;
	}
	&__about span {
		color: rgba(255, 255, 255, 0.75);
	}
}
