.portfolio {
    padding-top: 50px;
    padding-bottom: 25px;

    &__header {
        margin-bottom: 30px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 34px;
    }
}
