.resume {
    &__row {
        display: flex;
        flex-direction: unset;
        gap: 30px;

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            // gap: 20px;
        }
    }
    &__about,
    &__skils {
        padding: 30px 30px 48px;
        background-color: #fbfbfb;
        flex: 1;

        @include tablet {
            padding: 20px;
        }
    }
    &__header {
        margin-bottom: 20px;

        @include mobile {
            margin-bottom: 10px;
        }
    }
    &__desc {
        line-height: 1.6;
    }
    &__desc p + p {
        margin-top: 15px;
    }
    &--list {
        padding-left: 9px;
        font-size: 14px;
    }
    &--list li + li {
        margin-top: 10px;
    }
}
