.title-1 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 32px;
	line-height: 1;
}

.title-2 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 28px;
	line-height: 1;
}

.title-3 {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
}

.text {
	font-family: var(--font-family);
	font-size: 14px;
	line-height: 1.6;
}
